html {
    background-color: #eeeded
}

body {
    margin-bottom: 100px;
}

b {
    font-weight: 700;
}

a {
    color: #942ffa;
    outline: 0;
    font-weight: 700;
    text-decoration:  #942ffa dotted underline;
}

a:hover {
    text-decoration: underline;
}

.pub_link {
    font-size: 18px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}


.home_menu {
    margin-right: 50px;
    border-radius: 5px;
}

.home_title {
    text-align: left;
    font-size: 32px;
    margin: 40px 0 20px 0;
    color: #000000db;
    font-weight: 600;
}


.title {
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #222;
}

.header {
    text-align: left;
    font-size: 30px;
    color: #222;
}

.title_menu {
    background-size: 100%;
    margin: 0px 0px 0px 0px;
    padding: 40px 0 40px 0;
}

.title_font {
    font-family: 'M PLUS Rounded 1c', Arial, 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI', sans-serif;
}

.sans_font {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.subtitle {
    text-align: left;
    font-size: 22px;
    margin: 10px 0 10px 0;
    color: #000;
    line-height: 120%;
    font-weight: 600;
}

.home_body {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 148%;
    font-weight: 400;
}

.news_body {
    font-size: 13px;
    margin: 10px 0 10px 0;
    line-height: 148%;
    font-weight: 300;
}

.quotation {
    margin: 0;
}

.edit {
    font-size: 14px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted #000;
    margin: 1em 0;
    padding: 0;
}


@media (max-device-width: 768px) {
    body {
        margin-right: 10px;
        margin-left: 20px;
    }
}
